NEXT_PUBLIC_API_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/caracas_car_rental"

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-change-in-production
